html {
    height:100%;
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
}
body {
    height: 100%;
    background: rgb(1, 34, 56);
    padding: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column; 
}

canvas {
    border:2px solid #fff;
}

#container {
flex:1;
display: flex;
align-items: center;
justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:#fff;
}

p {
    font-size: 2rem;
    margin:2%;
}